<template>
    <div>
        <section class="container">
            <div class="container__title">
                <span class="container__title--name">Roman Nuyskov</span>
                <span class="container__title--subtitle">
                    <span id="first_lifestyle"></span>,
                    <span id="second_lifestyle"></span>,
                    <span id="third_lifestyle"></span>
                </span>
            </div>
            <div class="container__text hide">
                <p>
                    <strong>Hi!</strong> You known't <strong>me</strong>, i'am
                    <strong class="test">Frontend</strong> Developer.
                </p>
                <p>
                    You are currently
                    looking at <strong>my site</strong>,
                    that's <strong>awesome</strong>.
                </p>
                <p class="hide">
                    Now, this site is only simple html page, but in feauture, it will use React *
                    and Dropbox as
                    a content manager.
                    * redux, react router, babel, webpack,
                    grunt, gsap, rucksack, autoprefixer,
                    postcss, css modules, masonry and
                    some other magic stuff that i know.
                </p>

                <p class="hide">
                    Pretty neat, huh?
                    If you fancy a chat,
                    drop me a line at
                    <strong><a href="#">web.rnskv@gmail.com</a></strong>
                </p>

                <p class="hide">
                    <strong>
                        Have a classy Saturday
                    </strong>
                    - I googled it
                </p>
            </div>
        </section>
        <section class="container">
            <div class="container__text container__text--white hide">
                <h1>
                    About:
                </h1>
                <p class="hide">
                   This is me:
                    <span class="image little">
                        <img src="../res/images/1.jpg" alt="kakashka"/>
                    </span>
                   True... On the other side. But you understood, I'm make shit
                </p>
                <p class="hide">
                    You are willn't see my face (only on background, lol), but you can see my projects. I think that my applications - are my face
                </p>
                <h1>
                    My short story:
                </h1>
                <p class="hide">
                    My way begin in 2016, then i decided that want learn JavaScript <3 (It's was my mistake,it would be better to learn English).
                    That year i am taken part in IT Laboratory as a js-developer.
                    On start, i knowed only php. 1.5 month suffering, and my team (i can talk that only i am with my Curator) created game.
                    It's was online checkers. In process i learned many new technologies.
                    It's ruby, ruby on rails, cofee script, action cable (it's very strange websockets), test utilits e.t.c.
                    <span class="image">
                        <img src="https://pp.userapi.com/c631424/v631424945/4a291/EVQ9bBZ8sQ4.jpg" />
                    </span>
                </p>
                <p class="hide">
                    Later, i am continue learn new tech: es6, webpack, vue.
                    It's was amazing time.
                    I attended different IT conferences (only in my region).
                    <span class="image">
                        <img src="https://pp.userapi.com/c846416/v846416868/13d40/y8bSzq5cSiA.jpg" />
                    </span>
                    There I met new people.
                    They became great friends.
                </p>
                <p class="hide">
                    When i created some projects (it's was games market, csgo-roulette (counter strike gambling, lol), audio player and some little games),
                    I decided to look for a job. My English level does not allow descript how easy it was. But, it was only web-studio...
                    And there I wrote microservices for small banks in php... Brrrrr..
                </p>
                <p class="hide">
                    I made some money, and buy javascript courses, I do not think that it helped, although the useful moments were.
                    After that, I went to the courses at the Penza office of the company Bell Integrator to get a job.
                    2 month, 2 times per week i was showing my test project, and in the end got an offer.
                    But, i coudn't accepted it. 40 hour work week was not combined with my training in university.
                </p>
                <p class="hide">
                    As it turned out, it was for the best.
                    A week later I received a job offer in a top company of my city.
                    After a few days, an interview took place, and a week later I was sitting in my new workplace.
                    This company was <strong>VIGROM</strong>
                    <span class="image">
                        <img src="https://pp.userapi.com/c639531/v639531753/3cf99/yNb16voVdxA.jpg"/>
                    </span>
                </p>
                <p class="hide">
                    Working <strong>here</strong>, I received many new skills, improved old ones and attended various world-class conferences. for example, HolyJS and FrontendConf.
                </p>
            </div>
        </section>
    </div>
</template>
<script>
    import inView from 'in-view';
    export default {
        mounted() {
            const addRule = (function (style) {
                var sheet = document.head.appendChild(style).sheet;
                return function (selector, css) {
                    var propText = typeof css === "string" ? css : Object.keys(css).map(function (p) {
                        return p + ":" + (p === "content" ? "'" + css[p] + "'" : css[p]);
                    }).join(";");
                    sheet.insertRule(selector + "{" + propText + "}", sheet.cssRules.length);
                };
            })(document.createElement("style"));

            function animateBackground() {
                const maxBlur = 90;
                const maxSize = 200;

                let blur = ((window.scrollY / window.innerHeight) * 5) + 10;
                let size = Math.round((window.scrollY / window.innerHeight) * 100) + 100;
                addRule("body:before", {
                    'filter': `blur(${blur <= maxBlur ? blur : maxBlur}px) grayscale(0%)`,
                    'background-size': `${size <= maxSize ? size : maxSize}%`
                });
            }

            let options = {
                typeSpeed: 50,
                backSpeed: 10,
                loop: true,
                loopCount: Infinity,
                showCursor: false,
                backDelay: 4000,
            };
            let firstLifeStyle = {
                strings: ["Young", "Perfect", "Amazing", "Creative"],
            };
            let secondLifeStyle = {
                strings: ["Stupid", "Frontend", "React", "Design"],
            };
            let thirdLifeStyle = {
                strings: ["Student", "Developer", "Wizard", "Impossible"],
            };

            new Typed("#first_lifestyle", {...options, ...firstLifeStyle});
            new Typed("#second_lifestyle", {...options, ...secondLifeStyle});
            new Typed("#third_lifestyle", {...options, ...thirdLifeStyle});

            function addTextShadow() {
                document.querySelector('.container__text').classList.add('scroll');
                setTimeout(() => {
                    document.querySelector('.container__text').classList.remove('scroll');
                }, 100)
            }
            window.addEventListener('scroll', onScroll);
            animateBackground();
            function onScroll(event) {
                addTextShadow();
                animateBackground();
            }

            inView.offset({
                top: 100,
                right: 75,
                bottom: 100,
                left: 25
            });

            inView('p')
                .on('enter', el => {
                    el.classList.remove('hide')
                })
                .on('exit', el => {
                    el.classList.add('hide')
                });
        }
    }
</script>
<style>
    @keyframes text-wizard {
        0% { text-shadow: 0 0 0 #b3a57791; }
        20% { text-shadow: -1px -1px 0 #b3a57791; }
        30% { text-shadow: 0 1px 0 #b3a57791; }
        40% { text-shadow: -3px 1px 0 #b3a57791; }
        50% { text-shadow: 2px -2px 0 #b3a57791; }
        60% { text-shadow: -3px 1px 0 #b3a57791; }
        70% { text-shadow: 3px -2px 0 #b3a57791; }
        80% { text-shadow: -1px -1px 0 #b3a57791; }
        90% { text-shadow: 4px 2px 0 #b3a57791; }
        100% { text-shadow: -4px 0 0 #b3a57791; }
    }
    @keyframes white-text-wizard {
        0% { text-shadow: 0 0 0 #ffffff7d; }
        20% { text-shadow: -1px -1px 0 #ffffff7d; }
        30% { text-shadow: 0 1px 0 #ffffff7d; }
        40% { text-shadow: -3px 1px 0 #ffffff7d; }
        50% { text-shadow: 2px -2px 0 #ffffff7d; }
        60% { text-shadow: -3px 1px 0 #ffffff7d; }
        70% { text-shadow: 3px -2px 0 #ffffff7d; }
        80% { text-shadow: -1px -1px 0 #ffffff7d; }
        90% { text-shadow: 4px 2px 0 #ffffff7d; }
        100% { text-shadow: -4px 0 0 #ffffff7d; }
    }
    body, html {
        padding: 0;
        margin: 0;
        background: linear-gradient(134deg, black, #0000ee);
        font-family: 'Open Sans', sans-serif;
        text-rendering: optimizeLegibility;
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 100vh;
    }
    .image {
        display: block;
        margin: 50px 0;
    }
    .image.little {
        display: block;
        margin: 50px 0;
        max-width: 300px;
    }
    .image > img {
        width: 100%;
    }
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../res/images/bg1.jpg');
        background-position: center;
        background-attachment: fixed;
        /*background-size: 100%;*/
        box-shadow: inset 0 0 20px 100vw #00000073;
    }
    .container__title {
        position: relative;
        display: flex;
        flex-direction: column;

        margin-top: 20vh;
        padding: 100px;
    }
    .container__title--white {
        font-size: 5em;
        color: #fff;
    }
    .container__title--name {
        color: #b3a577;
        font-size: 5em;
        font-weight: 800;
        animation: text-wizard 1.5s infinite alternate cubic-bezier(0, 0.74, 1, 1);
    }
    .container__title--subtitle {
        font-size: 2em;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 3px 7px #00000047;
    }
    .container__text {
        position: relative;
        font-size: 50px;
        padding: 0 100px;
        color: #fff;
        width: 50vw;
        text-shadow: 0px 0px 2px #00000036;
        transition: .3s;
    }

    p:hover {
        animation: white-text-wizard 1.5s cubic-bezier(0, 0.74, 1, 1);
        cursor: pointer;
    }
    p {
        transition: .5s;
    }
    p.hide {
        opacity: 0;
        transform: scale(0.9);
    }
    .container__text--white {
        font-size: 3em;
    }
    .container__text.scroll {
        text-shadow: 0 5px 7px black;
    }
    .container__text > p > strong{
        color: #b3a577;
        text-shadow: 1px 3px 7px #00000047;
    }
</style>
